body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  text-align: center;
  font-size: 1.2em;
}

.SmartphoneList  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 0vh;
  max-height: 100vh;
  background-color: #bebbd8;
}

.Card {
  background: #c9c9c9;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.Card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card-logo {
  height: 80px;
}

.Card-link {
  color: #61dafb;
  text-decoration: none;
}

.Card-link:hover {
  text-decoration: underline;
}

